[user]
	name = Christian Schroeder
	email = ***
[color]
    ui = auto
[pull]
    rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = ***
